/out 
/docs
/.gradle
/.vscode

*.class
*.jar
*.log

# The following file is a file that I use to back up the project easier and to
# streamline the process. This is simply a quality of life thing.
backup.bat
# The following file is a file that I use to modify the PATH variable
# to allow me to work with the jdk.
setpath.bat
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
